<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>物流管理系统</title>
</head>
<body>
  <div class="areabx clear">
  @*  <div class="areabx_header">账户基本信息</div>*@
    <div class="arebx_body pdt15">
      <div class="cus_photo"><a href="#"><img src="/images/photo.png"></a></div>
      <div class="cus_cont">
        <ul>
          <li class="cont_tit">欢迎您Dianshang,欢迎使用物流管理系统! <a class="link" href="#">账户设置</a></li>
          <li>
            <div class="fs">您上次登录的时间：2015-3-18&nbsp;&nbsp;09:10:20</div>
          </li>
          <li class="notic"><a href="#">春节发货延迟通知（滚动条效果）</a><span></span></li>
          <li class="txtbx"> <span>用户ID&nbsp;：80000</span> <span>企业名称&nbsp;：深圳市xx</span></li>
          <li class="txtbx"> <span>E-mail&nbsp;：wuliu@kjy.cn</span> <span>联系电话&nbsp;：0755-123456789</span></li>
          <li class="">地&nbsp;&nbsp;址&nbsp;：深圳市南山区朗山二号路3号路3号路3号路3号路3号
            <input type="submit" value="修改" class="btsty3">
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="areabx clear">
    <div class="areabx_header info">账户余额</div>
    <div class="balance"><em>总余额：<span class="jiage">￥10000.00</span><span class="dan">元</span></em>
      <input type="submit" value="充 值" class="btsty4">
      <p class="list_bn"> <span> 信用额度：￥0.0000元 </span> <span> 可用余额：￥0.0000元 </span> <span> 冻结金额：￥0.0000元 </span></p>
    </div>
    <div class="consumption"> 昨日消费：<span>￥120.00</span>元 <a class="link" href="#">财务流水</a></div>
  </div>
  <div class="order_form">
    <h2>订单管理</h2>
    <div class="order_list">
      <ul>
        <li>待确认订单：<a class="link" href="#">14600</a></li>
        <li class="bon_mo">已确认订单：<a class="link" href="#">6300</a></li>
        <li>已付款待发货订单：<a class="link" href="#">5300</a></li>
        <li class="bon_mo">未付款待发货订单：<a class="link" href="#">500</a></li>
        <li>未交货托盘：<a class="link" href="#">20</a></li>
        <li class="bon_mo">交货单列表：<a class="link" href="#">3</a></li>
        <li>待扣费提单：<a class="link" href="#">12</a></li>
      </ul>
    </div>
  </div>
</body>
</html>