
@{
    ViewBag.Title = "HtmlExtend";
}
@{ string x = "x";}
<h2>HtmlExtend</h2>
@Html.ActionLink("LinkText", "HtmlExtend");
@Html.ActionLink("LinkText2", "Index", new { id = 1, name = "zs" });
@Html.ActionLink("LinkTest3", "Index", new { @class = "xs", style = "width:200px;" });
 
