<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Data" value="FreightSynchro" />
    <!-- 计算运费是否以批量的形式计算 -->
    <add key="IsBatchCalculate" value="Y" />
    <!-- 单个计算运费API -->
    <add key="SingleFreightAPI" value="http://120.24.216.208:8092/api/ShipPriceCalc/GetShipPrice" />
    <!-- 批量计算运费API -->
    <add key="BatchFreightAPI" value="http://120.24.216.208:8092/api/BatchFreight" />
    <add key="Economy" value="北京,上海,江苏,浙江,天津" />
  </appSettings>


  <log4net>
    <!-- 错误日志类-->
    <logger name="logerror"><!-- 日志类的名字-->
      <level value="ALL" /><!-- 定义记录的日志级别-->
      <appender-ref ref="ErrorAppender" /><!-- 记录到什么介质中-->
    </logger>
    <!-- 信息日志类 -->
    <logger name="loginfo">
      <level value="ALL" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <!--
    %m	输出的日志消息
    %n	换行
    %d	输出当前语句运行的时刻
    %r 	输出程序从运行到执行到当前语句时消耗的毫秒数
    %d	当前语句所在的线程ID
    %p	日志的当前优先级别
    %c	当前日志对象的名称
    %L 	输出语句所在的行号
    %F	输出语句所在的文件名
    
    -->
    <!-- 错误日志附加介质-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender"><!-- name属性指定其名称,type则是log4net.Appender命名空间的一个类的名称,意思是,指定使用哪种介质-->
      <param name="File" value="Log\\LogError\\" /><!-- 输出到什么目录-->
      <param name="AppendToFile" value="true" /><!-- 是否覆写到文件中-->
      <param name="MaxSizeRollBackups" value="100" /><!-- 备份文件的个数-->
      <param name="MaxFileSize" value="10240" /><!-- 单个日志文件最大的大小-->
      <param name="StaticLogFileName" value="false" /><!-- 是否使用静态文件名-->
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" /><!-- 日志文件名-->
      <param name="RollingStyle" value="Date" />
      <!--布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n异常时间：%d %n%m %n"  />
      </layout>
    </appender>
    <!-- 信息日志附加介质-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\LogInfo\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
      <param name="RollingStyle" value="Date" />
      <!--布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n日志时间：%d [%t] %n日志级别：%-5p %n日志信息：%m %n "  />
      </layout>
    </appender>
  </log4net>

</configuration>